body {
    padding:39px 4% 0px;
}
.inline-block {
    display: inline-block;
}
#topic {
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: -0.03em;
}
#category {
    border-top: 2px solid #888;
    padding: 0.5em 0 0;
}

#category > ul {
    padding: 0;
}
#category > * > li {
    float:right;
    cursor:pointer;
}
#category a:hover,a:active,a:focus {
    text-decoration:none;
}

#quote-block {
    padding: 1em 1.6em 0;
    cursor: pointer;
}
#quote {
    font-size:1.2em;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
}
#site {
    color: #ff5a14;
    font-family:Georgia, "Times New Roman", Times, serif;
}

#image {
    width: 100%;
    height: auto;
    max-height: 13em;
    margin-bottom: 0.5em;
}
#image-block {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 0.8em;
}
#img-quote {
    font-family:Georgia, "Times New Roman", Times, serif;
    margin-bottom: 0;
}
#img-site {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
    color:#ff5a14;
}