<!DOCTYPE html>
<meta charset="utf-8">
<title>Enhype</title>
<head>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/navbar.css">
</head>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="collapse navbar-collapse">

	<ul id="navbar-menu" class="nav navbar-nav navbar-right">
          <li class="selected"><a href="#/search">SEARCH</a></li>
          <li><a href="#/discover">DISCOVER</a></li>
          <li><a href="#/trending">TRENDING</a></li>
          <li><a href="#/about">ABOUT</a></li>
	</ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
<div>
  <div id="main-search-box" class="col-sm-5">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="What do you want to know about?">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
  <h1 id="brand" class="pull-right">enh<span>y</span>pe</h1>
</div>

